<div class="form-inline">
    <div class="form-group">
        <label class="control-label" for="yaml-search">
            <f:translate key="search" extensionName="yaml_browser" />
        </label>

        <div class="form-group">
            <div class="form-control-clearable">
                <input id="yaml-search" class="form-control" autocomplete="off" />
                <button id="reset-search" class="btn btn-default">
                    <f:translate key="clear" extensionName="yaml_browser" />
                    &times;
                </button>
            </div>
        </div>
    </div>
</div>