
<div id="yaml-browser-container">

    <h1><f:translate key="module.title" extensionName="yaml_browser" /></h1>

    <f:render partial="FilterElement" arguments="{_all}" />
    <f:render partial="SearchElement" arguments="{_all}" />
    <f:render partial="RegexElement" arguments="{_all}" />

    <div class="panel panel-space panel-default">
        <div class="panel-heading">
            <f:translate key="yaml.tree" extensionName="yaml_browser" />
            <f:if condition="{filter}">
                <f:translate key="yaml.tree.for" arguments="{0:filter}" extensionName="yaml_browser" />
            </f:if>
            <span id="matches"></span>
        </div>

        <div class="panel-body">
            <div id="yaml-tree"></div>
        </div>
    </div>
</div>